@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
   //dark mode colors
   --background-dark-color: #16161a;
   --button-dark-color: #7f5af0;
   --buttonText-dark-color: #fffffe;
   --headline-dark-color: #fffffe;
   --paragraph-dark-color: #94a1b2;

   //light mode colors
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

body{
   background-color: var(--background-dark-color);
}

html{
   scroll-behavior: smooth;
}

a{
   text-decoration: none;
   color: var(--headline-dark-color);
}

ul{
   list-style: none;
}

section{
   height: 100vh;
   scroll-snap-align: start;
}

.scroll-container{
   scroll-snap-type: y mandatory;
   overflow-y: scroll;
   height: 100vh;
}

.container{
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
}

.navbar{
   padding: 1.5rem 1rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: var(--headline-dark-color);
   .logo{
      width: 110px;
      height: 110px;
   }

   .navbar-links{
      display: flex;
      gap: 1.5rem;
      font-size: 20px;
      align-items: center;
   }
}

.hero{
   color: var(--paragraph-dark-color);

   .hero-text{
      font-size: 64px;
      text-align: start;
      width: 100%;
      margin-top: 10.5rem;
      .name{
         font-size: 84px;
         font-weight: 700;
         color: var(--headline-dark-color);
      }
   }

   .hero-contact{
      display: flex;
      margin-top: 15px;
      gap: 1.5rem;
      font-size: 20px;
      align-items: center; 
      
      .cta{
         font-size: 20px;
         padding: 19px 32px;
         color: var(--buttonText-dark-color);
         border-radius: 3px;
         background-color: var(--button-dark-color);
         cursor: pointer;
         border-color: transparent;
         transition: all 0.2s ease-in-out;
      }

      .cta:hover,
      .cta:focus {
      box-shadow: 0 0.5em 0.5em -0.4em #7f5af0;
      transform: translateY(-0.25em);
      }

      .hero-contact-links{
       display: flex;
       gap: 2.5rem;
       align-items: center;
      }
   }
}


.about{
   display: grid;
   place-content: center;
   height: 100vh;
   color: var(--paragraph-dark-color);
}


.projects{
   display: grid;
   place-content: center;
   height: 100vh;
   color: var(--paragraph-dark-color);
}
