@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
:root {
  --background-dark-color: #16161a;
  --button-dark-color: #7f5af0;
  --buttonText-dark-color: #fffffe;
  --headline-dark-color: #fffffe;
  --paragraph-dark-color: #94a1b2;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--background-dark-color);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--headline-dark-color);
}

ul {
  list-style: none;
}

section {
  height: 100vh;
  scroll-snap-align: start;
}

.scroll-container {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  padding: 1.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--headline-dark-color);
}

.navbar .logo {
  width: 110px;
  height: 110px;
}

.navbar .navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  color: var(--paragraph-dark-color);
}

.hero .hero-text {
  font-size: 64px;
  text-align: start;
  width: 100%;
  margin-top: 10.5rem;
}

.hero .hero-text .name {
  font-size: 84px;
  font-weight: 700;
  color: var(--headline-dark-color);
}

.hero .hero-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  gap: 1.5rem;
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-contact .cta {
  font-size: 20px;
  padding: 19px 32px;
  color: var(--buttonText-dark-color);
  border-radius: 3px;
  background-color: var(--button-dark-color);
  cursor: pointer;
  border-color: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hero .hero-contact .cta:hover,
.hero .hero-contact .cta:focus {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em #7f5af0;
          box-shadow: 0 0.5em 0.5em -0.4em #7f5af0;
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}

.hero .hero-contact .hero-contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about {
  display: -ms-grid;
  display: grid;
  place-content: center;
  height: 100vh;
  color: var(--paragraph-dark-color);
}

.projects {
  display: -ms-grid;
  display: grid;
  place-content: center;
  height: 100vh;
  color: var(--paragraph-dark-color);
}
/*# sourceMappingURL=styles.css.map */